@import '../../components';

div.featured-content {
  padding: 1em;
  justify-content: space-between;
  display: none;

  @media #{$medium-mq} {
    display: flex;
  }

  @media #{$large-mq} {
    padding: 5em;
  }

  .featured-content-card {
    padding: 2em;
  }
}