@import '../../components';

.hero {
  background-color: black;
  width: 100%;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: $accent-white;

  @media #{$large-mq} {
    height: 600px;
  }

  .overlay {
    padding: 2em;
    justify-content: center;
    
    @media #{$large-mq} {
      padding: 5em;
    }
  }

  .hero-text {
    font-family: $primary-font;
    font-size: 2.5em;
    margin-bottom: .8em;

    @media #{$large-mq} {
      font-size: 5em;
      width: 60%;
      margin-bottom: .3em;

    }
  }

  .cta-text {
    font-family: $secondary-font;
    margin-left: .7em;
    font-size: .8em;    
  }

  .cta-holder {
    .arrow-right-icon {
      background-color: $primary-orange;
      padding: .5em;
      border-radius: 50px;
    }
  }
}