@import '../../components';

.perk-card {
  width: 100%;
  align-items: center;
  font-family: $secondary-font;
  text-align: center;
  margin-bottom: 2em;
  
  @media #{$large-mq} {
    width: 23%;
  }

  .perk-icon {
    width: 10%;
    height: 50px;
    padding: 1em 2em;
    background-color: $accent-white;
    justify-content: center;
    align-items: center;
    
  }

  .perk-title {
    font-size: .9em;
    margin: 1em 0;
  }

  .perk-sub-text {
    font-size: .8em;
    color: $transparent-grey;
  }
}