@import '../../components';

.nav-bar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  top: 0;
  width: 100%;
  z-index: 9999;
  color: black;

  &.transparent-nav {
    background: 0 0;
    position: absolute;
    color: $accent-white;
  }
  

  @media #{$large-mq} {
    font-size: .9em;
    padding: 2em 5em;
  }

  .logo {
    width: 100px;
    height: 50px;

    @media #{$large-mq} {
      width: 150px;
      height: 50px;
    }
  }

  .profile-icon {
    display: none;

    @media #{$large-mq} {
      display: inline;
    }
  }

  .left {
    width: 30%;
  }

  .center {
    display: none;
    justify-content: center;
    width: 70%;
    
    @media #{$large-mq} {
      display: flex;
    }
    
    a {
      margin-right: 4em;
      text-decoration: none;
      font-family: $secondary-font;
      color: $accent-white;
      transition: .5s;

      &:hover {
        color: $primary-orange;
        cursor: pointer;
      }

    }
  }
  
  .right {
    justify-content: space-between;

    i {
      margin-right: 1em;
      transition: .5s;

      &:hover {
        color: $primary-orange;
        cursor: pointer;
      }

      @media #{$medium-mq} {
        margin-right: 2em;
      }

      @media #{$large-mq} {
        margin-right: 3em;
      }
    }
  }
}