@import './assets/scss/fontawesome.scss';
@import './assets/scss/brands.scss';
@import './assets/scss/regular.scss';
@import './assets/scss/solid.scss';
@import './components';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.search-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-search);
  }
}

.shopping-cart-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-shopping-cart);
  }
}

.profile-icon {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.menu-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-bars);
  }
}

.arrow-right-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-arrow-right);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $transparent-grey;
  background-image: radial-gradient(rgb(90, 90, 90) 33%, transparent 33%);
  background-size: 2.2px 2.2px;
}