@import './assets/scss/fontawesome.scss';
@import './assets/scss/brands.scss';
@import './assets/scss/regular.scss';
@import './assets/scss/solid.scss';
@import './components';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.row-with-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

// Logo
.logo {
  background-image: url('./assets/logo/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Icons
.search-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-search);
  }
}

.shopping-cart-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-shopping-cart);
  }
}

.profile-icon {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.menu-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-bars);
  }
}

.arrow-right-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-arrow-right);
  }
}

.truck-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-truck);
  }
}

.credit-card-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-credit-card);
  }
}


.money-bill-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-money-bill);
  }
}

.smile-wink-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-smile-wink);
  }
}

.twitter-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.youtube-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-youtube);
  }
}

.linkedin-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
}

.facebook-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-facebook);
  }
}

.instagram-icon {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-instagram);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $transparent-grey;
  background-image: radial-gradient(rgba(0, 0, 0, 0.13) 33%, transparent 90%);
  background-size: 2.2px 2.2px;
}

.section-heading {
  margin-top: 3em;
}